<% @photos.each do |photo| %>
    <%= link_to public_photo_path(photo.id) do %>
        <%= image_tag photo.get_image %>
    <% end %>
    <p>タイトル: <%= photo.title %></p>
    <p>ニックネーム<%= photo.user.name %></p>
    <%= link_to  public_user_path(photo.user) do %>
        <%= image_tag photo.user.get_profile_image(100,100) %>
    <% end %>

<% end %>