<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>写真の情報入力</h2>
      <% if @photo.errors.any? %>
        <%= @photo.errors.count %>件のエラーが発生しました
        <ul>
          <% @photo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @photo,url: public_photos_path, local:true do |f| %>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image,class: "form-control-file user_image", accept: "image/*" %>
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,placeholder: "(例)夏の天の川",class: "form-control title" %>
      </div>

      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_field :introduction,placeholder: "(例)こちらは、夏の天の川を撮影した写真です",class: "form-control introduction" %>
      </div>

      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location,placeholder: "(例)茨城県",class: "form-control location" %>
      </div>

      <div class="form-group">
        <%= f.label :lens %>
        <%= f.text_field :lens,placeholder: "(例)SEL2414GM",class: "form-control lens" %>
      </div>

      <div class="form-group">
        <%= f.label :camera %>
        <%= f.text_field :camera,placeholder: "(例)SONY α7iii",class: "form-control camera" %>
      </div>

      <div class="form-group">
        <%= f.label :date %>
        <%= f.text_field :date,placeholder: "(例)2021/05/21",class: "form-control date" %>
      </div>

      <div class='form-group'>
        <p>タグを付ける</p>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class='form-check'>
            <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%=f.submit %>
      </div>

      <% end %>
    </div>
  </div>
</div>