<%= image_tag @photo.get_image %>
<p>タイトル:<%= @photo.title %></p>
<p>説明：<%= @photo.introduction %></p>
<p>撮影場所：<%= @photo.location %></p>
<p>撮影カメラ：<%= @photo.camera %></p>
<p>撮影レンズ：<%= @photo.lens %></p>
<p>撮影日：<%= @photo.date %></p>