<div class="container">
<h4><%= @user.name %>様の会員情報</h4>
<div class="row">

<%= form_for(@user,url:admin_user_path) do |f| %>
<div class="col-xs-10">

  <div class="form-group col-xs-9">
  <%= f.label :名前 %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="form-group col-xs-9">
  <%= f.label :メールアドレス %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email"%><br>
  </div>

  <div class="form-group col-xs-9">
  <%= f.label :会員ステータス %>
  <%= f.radio_button :is_deleted, false %>
  <%= f.label :有効 %>
  <%= f.radio_button :is_deleted, true %>
  <%= f.label :退会 %>
  </div>


  <%= f.submit "変更を保存",class:"btn btn-success" %>
<% end %>
</div>
</div>
</div>